<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-bolt"></i>  <span class="light">Spark</span> MediaManager
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#download">Download</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading"><i class="fa fa-bolt"></i> Spark</h1>
                    <p class="intro-text">A tool to keep track and organize all your media.<br>Rename all of them according to a customized format.</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About <i class="fa fa-bolt"></i>  <span class="light">Spark</span></h2>
            <p>Spark is a free tool, designed for those who like to keep track and organize all of your purchased media. It can identify what kind of media you have, match it's title and rename files based on a customized pattern.</p>
            <p>Our goal with <i class="fa fa-bolt"></i>  <span class="light">Spark</span> is to make the most flexible and smart media manager available. With that in mind, we have developed a tool that can adapt to each user's preferences, making it your best companion when you think about your media.</p>
        </div>
    </div>
</section>
<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Download <i class="fa fa-bolt"></i> <span class="light">Spark</span></h2>
                <p>For now, <i class="fa fa-bolt"></i> <span class="light">Spark</span> is in development, but it will be available for beta testing in July.<br/>Stay tuned!</p>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact <i class="fa fa-bolt"></i>  <span class="light">Spark's</span> team</h2>
            <p>Feel free to email us to provide some feedback on our ideas, give us suggestions, or to just say hello, we will be happy to contact you back!</p>
            <p>
                <a href="mailto:gabrielqduarte@gmail.com">gabrielqduarte@gmail.com</a>
            </p>
        </div>
    </div>
</section>
<section class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2></h2>
            <p></p>
            <p>
                
            </p>
        </div>
    </div>
</section>
<!-- jQuery -->
<script src="../../js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../../js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="../../js/jquery.easing.min.js"></script>
<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
<!-- Custom Theme JavaScript -->
<script src="../../js/grayscale.js"></script>